{% load staticfiles %}

<html>
<head>

	<title>EC2 statistic for employments</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/servers.css" %}">

</head>
<body>

    <div class="container">
        <div class="menu-title">EC2 Instances</div>
        <div class="server-title">Current server</div>
        <div class="billing-title">Billing</div>
        <div class="menu-list">
            <ul class="servers-list">
                  {% for server in servers %}
                    <li><a href="{% url 'ownservers:server' person server.instance_id %}" class="btn">{{server.name}} ({{server.state}})</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="server-information">
            <ul class="server-information-list">
                <p><strong>Name</strong>: {{server.name}}</p>
                <p><strong>ID</strong>: {{server.instance_id}}</p>
                <p><strong>Type</strong>: {{server.type}}</p>
                <p><strong>State</strong>: {{server.state}}</p>

                {% if person == 'boss' %}

                {% else %}

                <p><strong>Public IP</strong>: {{server.public_ip_address}}</p>
                <p><strong>Private IP</strong>: {{server.private_ip_address}}</p>
                <p><strong>VPC</strong>: {{server.vpc_id}}</p>
                <p><strong>Security group</strong>: {{server.security_group}}</p>
                <p><strong>Volumes</strong>: {{server.volumes}}</p>

                {% endif %}

                <p><strong>Launch time (created date)</strong>: {{server.launch_time}}</p>
                <p><strong>Data refreshed at</strong>: {{server.scheduled}}</p>
            </ul>
        </div>
        <div class="server-information">
            <ul class="server-information-list">
                <p><strong>Server cost by hour</strong>: {{server.server_cost_by_hour}}$</p>
                <p><strong>Volumes cost by month</strong>: {{server.volumes_cost}}$</p>
                <p><strong>Overall instance cost from created</strong>: {{server.overall_cost_by_month}}$</p>
            </ul>
        </div>
    </div>

</body>
</html>

